<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBnGMLx4ueqjBjWy3CPT97ZqLBWJ-0nNeU</string>
	<key>GCM_SENDER_ID</key>
	<string>881802415403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.campusexplorer</string>
	<key>PROJECT_ID</key>
	<string>campus-explorer-33cfb</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-explorer-33cfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881802415403:ios:841bd83de38f5c4736c96e</string>
</dict>
</plist>